<a href="https://www.kaggle.com/rahultheogre/eda-analyzing-sales-data-to-understand-sale?scriptVersionId=85406340" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# PROJECT 1  
## Name : Rahul Sharma

### Part - I (10 Points)
##### 1. Answer the following questions. (2 points)

###### a. Given the string 'great', use an appropriate index command that returns 'a' from the string. Given s = ‘great’. (0.5 point) Expected output: ‘a'

1. Python is zero indexing language. Index position of 'a' is 3. 
2. So we insert 3 in the indexing operator to get 'a'

In [ ]:
s = "great"

s[3]

###### b. Write a program to find out the second smallest number in the list given below. (0.5 point) li=[32, 3, 5, 8, 33, 7] & Expected output: 5

1. Use sort() method to sort the list. It sorts in ascending order by default.
2. Lists are mutable. sort() method changes it.
3. Use Indexing operator with parameter 1 to get the smallest value.

In [ ]:
li = [32, 3, 5, 8, 33, 7]
li.sort() 
li[1]

###### c. Find out the unique values of the list given below. (0.5 point) mylist=[1,1,5,3,3,6,11,11] & Expected output: [1,5,3,6,11]

1. Import numpy. 
2. Convert the list into a numpy array.
3. Use unique method on it and print out the array.

In [ ]:
import numpy as np

mylist = [1,1,5,3,3,6,11,11]

mylist = np.array(mylist)

print(np.unique(mylist))

###### d. Write a program to print cube root of 216 using appropriate syntax. (0.5 point) Expected output: 6

1. Python deals reads every numeral as float while making calculations but truncates unnecessary digits to save memroy.
2. 1/3 is a little bigger than its decimal counterpart 0.3333333...
3. So, when we apply a power of 1/3 to 216, we will get 5.999999... 
4. Python interpreter takes 1/3 to be 0.3333333333333333 (16 decimal places)
5. So, we might expect puttin the power as 0.33333333333333333333333333333333 (32 decimal places) might result in a more accurate result. But that is not so.
6. Best is to round() the values to 5 decimal places for a better accuracy. Then we will get 6.0.

In [ ]:
import math #to use pow() and round()

round(pow(216,1/3),3)

##### 2. Replace the value 'hello' in the below nested list with 'bye'. (1 point) a = [1, 2, [3, 4, 'hello']] & Expected output: [1, 2, [3, 4, 'bye']]

1. The last element in a is a list with 'hello' as its last element.
2. So we access it with two subs (assignment operators), and assign 'bye' to it.

In [ ]:
a = [1, 2, [3, 4, 'hello']] 

a[-1][-1] ="bye"

print(a)

##### 3. Given the below dictionary, write a program that returns [‘object0’]. (1 point) dict = {'a':9, 'b':(2,3,1), 'c':['object0','object1','object2']} Expected output: [‘object0’]

1. Access the third value (a list) of dict by putting 'c' in Indexing Operator.
2. Access object0 (the first element in the list 'c') by appending a second Indexing operator.
3. We are expected an output ['object0'], a list with one element. 
4. So convert it into a list by putting the single element in []

In [ ]:
dict = {'a':9, 'b':(2,3,1), 'c':['object0','object1','object2']}

[dict['c'][0]]

##### 4. Write a program to calculate the area of a circle. The program should ask for an appropriate input and print the computed area. (2 points)
1. Input text: Please enter the radius of the circle.
2. If the user enters a value of 5. The output should be: The area of the circle is 78.54
3. This program should indicate that the input is invalid if the user enters a character instead of a number as input. For instance if the user enters a value of ‘a’ instead of 5 in the previous example the program should prompt: Invalid input, please enter a number: _

1. Import math module so pi and round() can be used
2. Input radius from user. Let it remain a str.
3. Run a while loop to input a float radius. It will run till the user inputs a valid float.
4. Use try-except block to neglect non-float user inputs.
5. Try-except block avoids traceback when we convert str to float.
6. We will come out of the while loop with break statement when the user inputs a valid float.
7. Use mathematical formula (pi r square) to get the area.
8. Use round(,2) to round to two decimal places, because that's what is expected.

In [ ]:
import math

radius = input("Please enter the radius of the circle.\n")

while radius != float: 
    try:
        radius = float(radius) #if this is false, Python will switch to except block
        break #if the above is true, we have our radius. And we come out of the try-except block
    except:
        print("Invalid input, please enter a number: _")
        radius = input()

area = round(math.pi*radius*radius,2)
print(f"The area of the circle is {area}")

##### 5. Write a program which will take two lists X & Y as input and it will return a list having all the odd numbers present in the two lists. (Note:- common elements can be repeated) (2 points)
##### Input list: X=[1,2,3,4,5] & Y=[5,6,7,8,9] Expected Output: [1,3,5,5,7,9] or [1,3,5,7,9] both are accepted.

1. Define a function get_int_list so it can be reused to get two lists.
    - Use a combination of try-except block in while loop to get in the elements of the list
2. Input two lists X and Y using the get_int_list()
3. Add Y to X using append method. It will mutate X, with which we will work further.
4. Iterate through X using range function in list comprehension with required condition. Feed it the element fulfilling the condition in a new list Z with odd numbers.

In [ ]:
def get_int_list(): #Step 1
    X = list()
    x = None
    print("Enter integer elements for the list. Press a non-integer when you are done.")
    while x != 'done':
        x = input()
        try:
            x = int(x)
            X.append(x)
        except:
            x = 'done'
    return X

X = get_int_list() #Step 2
Y = get_int_list()

X.extend(Y) #Step 3 

Z = [p for p in range(len(X)) if p%2 != 0] #Step 4
    
print(f"\nThe list having all the odd numbers present in the two input lists is:\n{Z}")

###### 6. Write a function that prints the integers from 1 to 15. But for multiples of three print "GREAT" instead of the number, and for the multiples of five print "LEARNING". For numbers which are multiples of both three and five print "GREATLEARNING". (2 points)

1. Define a function design_string
- 1.1 Define a list list1 with integers between 1 to 15 using range() function.
- 1.2 Using for loop, iterate through a similar range and manipulate the elements of the list.
- 1.3 Do not iterate through the list directly, because one of the numbers 15 is a multiple of other numbers 5 and 3.
- 1.4 Use * unpacking operator to print the elements of the altered list.
2. Run the function

In [ ]:
def design_string():
    list1 = list(range(1,16)) #1.1 & 1.3
    for n in range(1,16): #1.2
        if n%3 == 0:
            list1[n-1] = "GREAT" 
        if n%5 == 0:         
            list1[n-1] = "LEARNING"
        if n%15 == 0:
            list1[n-1] = "GREATLEARNING"
    print(*list1, sep = ', ') #1.4

design_string() #2

## Part-II (10 Points)
### Dataset: Online_sales.csv
#### Domain: Retail
##### Objective: Analyzing sales data to understand sales trend

##### 1. Import necessary libraries and read the provided dataset (online_sales.csv) and check the top 5 and random 5 samples of the dataframe. (0.5 point)

1. The "online_sales.csv" file is in the same folder the one in which Python_ProjectNo1 notebook file is.
2. head() method of Pandas DataFrame gives first five rows
3. sample() gives any 5 randome rows.

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:

dataset = pd.read_csv("../input/iiitd-project1/online_sales.csv")

dataset.head()

In [ ]:
dataset.sample(5)

#### 2. Check info of the dataframe and write your observations. Comment on data types and shape of the dataset. (0.5 point)

In [ ]:
#info method gives a summary statistics of the dataframe
dataset.info()
dataset.shape

###### Comments
1. It is a dataset of online sales of a firm. 
2. There are 8 columns, and hence 8 variables through which the data is viewed.
3. There are 240007 rows. The shape is (240007, 8). It is a fairly large dataset.
4. InvoiceNo is an object (str or mixed), which could have come as a surprise, because we would expect it to be numeric. But one, we don't want any kind of accidental change in the InvoiceNo. And two, even though all the sample values seem numeric in the current dataset, we can have alphanumeric/numeric characters in an InvoiceNo.
5. CustomerID is a float64 which seems weird. It could easily have been int64 like Quantity. It occupies more memory space than required.
6. InvoiceDate is an object, which was expected. We often deal with str inputs in columns of datetimes. We would have to convert it into datetime when time comes.  
7. There are many null values in the dataset, specially the CustomerIDs. We may have to drop them. Dropping them won't affect our analysis much, because we have a lot of rows.

#### 3. Check for null values and report the percentage of null values of each column.And drop the rows having null values in it. (1 point)


- STEPS:
1. Use isna() method to check for null values. It returns a mask of bool values for each element in dataset that indicates whether an element is an NA value or not. Each NaN is booled as True i.e. 1.
2. Apply sum() method to the above mask to return a Series of sums of 1's for each column.
3. Convert the Series of [columns, sums of NaNs] into a DataFrame using pd.DataFrame() for better visualisation and manipulation. Call this new dataframe as d_null.
4. Use columns attribute to name the one column d_null has as NoOfNull.
5. Use apply method to add a new column(axis = 1) called PercentNull. 
6. In apply(), use lambda function to perform the required operation on each instance of NoOfNull 
7. Print d_null. That would report the percentage of null values of each column of the dataset

In [ ]:
d_null = dataset.isna().sum() #Steps 1,2

d_null = pd.DataFrame(d_null) #Step 3

d_null.columns = ['NoOfNull'] #Step 4

d_null['PercentNull'] = d_null.apply(lambda row: (row.NoOfNull/len(dataset))*100 , axis = 1) #step 5,6

print(d_null) #Step 7

###### To drop the rows having null values in it
STEPS:
1. use dropna() method to drop all NaN values.
2. use info() method to display the change
- NOTE: I am making a new DataFrame for this question. In Practice, I would have altered the original dataset with reassignment. But I want the examiners to be able to come back and check, and any alteration in dataset is permanent.

In [ ]:
dataset_NoNull = dataset.dropna() #Step 1
dataset_NoNull.info() #Step 2

##### 5. Drop the instances having quantity less than zero. (1 point) (Note:- refer to the ‘Quantity’ feature)

###### NOTE: I am solving Q 5 before Q 4, because we don't want negative Quantity values in a dataset when performing a statistical analysis on it.

- STEPS
1. Get the indices with negative Quantity instances with by
    - selecting the rows where Quantity<0, and
    - selecting the indices of those rows with index attribute
    - Store the indices in i
2. Use drop() method to remove the selected indices contained in i. Have inplace parameter as False so the original dataset does not change.
3. clean_data is the resultant dataset which has no null values and no rows with negative Quantity values. We will use this dataset from now on.

In [ ]:
i = dataset_NoNull[dataset_NoNull['Quantity'] < 0].index #Step 1

clean_data = dataset_NoNull.drop(i, axis = 'rows', inplace = False) #Step 2

clean_data.info() #3

#### 4. Check the statistical summary of the dataset. (Use inbuilt functions) (0.5 point)

1. I will work on clean_data, which is what we should ideally work with. That is why I decided to solve Q 5 first.
2. REASON (IMPORTANT): 
- About 28% of CustomerId values are NaN. We have to take them as bogus as every Invoice should have a CustomerId. How can a record have an InvoiceNo but no CustomerId? 
- Also, Quantity vaues cannot be negative. So, bogus data. Description does not matter, as it seems  optional. But a very small percentage of data loss would be there (0.37% bogus data). And with so many entries at hand, we can handle that data loss.

In [ ]:
dataset_NoNull.describe() 
#Here min value of Quantity is -74215, which is inadmissible

#### Solution to Q 4

- STEPS
1. Use descibe() method to give basic descriptive statistical summary. It chooses only those columns which have numeric values as instances.
2. Note: describe() on clean_data gives us more valid values. Case in point: min(Quantity) is now 1

In [ ]:
clean_data.describe() #Step 1

##### 6. Check unique values of the country and report the name of the country that has the highest number of instances/rows. (0.5 point)

###### Unique values of the country
- STEPS:
1. Extract the Country column using dot operator from the clean_data as a Series
2. Apply unique() method to it to have only unique values in an array unique_values
3. Print to give out Unique values of the country. Use * unpacking operator to get comma separated values.

In [ ]:
unique_values = clean_data.Country.unique() #Step 1,2

print("Unique values of the country in the dataset are:\n")
print(*unique_values, sep = ', ') #Step 3

###### Report the name of the country with highest number of instances.
- STEPS
1. Group the dataset according to Country column using groupby method 
2. Aggregate by count() method choosing any column (all will give the same). I choose Description. It will give us a Pandas Series.
3. Convert the resultant Series into a dictionary dict1 using to_dict() Series method
4. Use lambda in max() function to iterate through each value of dict, and get the key (country) with maximum value. Print the result.

In [ ]:
dict1 = clean_data.groupby('Country').count().Description.to_dict() #Steps 1,2,3

print(f"The country with highest number of instances is: {max(dict1, key = lambda x: dict1[x])}") #Step 4

##### 7. Create a new column with the name as ‘sales’ having total sales. The total sales is defined as Quantity*UnitPrice. (1 point)b

STEPS:
1. Add a column with Index operator.
2. Assign it values using list comprehension
3. In list comprehension, zip two variables x and y, corresponding to values in columns Quantity and Price and get the result x*y assigned to new column

In [ ]:
clean_data['sales'] = [x*y for (x,y) in zip(clean_data['Quantity'],clean_data['UnitPrice'])] #Steps 1,2,3

clean_data.head()

##### 8. Report the top 5 countries in terms of sales. (2 points)

###### a. Considering the size of the sales
- STEPS:
1. Group clean_data by Country using groupby method. Groups attribute is like dictionary whose keys are the computed unique groups and corresponding values being the axis labels belonging to each group. 
2. Aggregate the resulting group with sum()
3. Extract 'sales' column by using dot operator over the aggregate.Now we will have a Series.
4. Sort the Series by value using sort_values() object. Make ascending attribute as False to sort in descending form.
5. Apply index operator to the sorted Series to extract first five index elements, which are country names.

In [ ]:
by_sales_size = clean_data.groupby('Country').sum().sales.sort_values(ascending = False).index[0:5] #Steps 1,2,3,4, 5

print("Top five countries in terms of sales size are:")
print(*by_sales_size, sep= ', ')

###### b. Consider the mean value of sales.
- STEPS:
1. Repeat all the steps as in 8(a) except for one change. Aggregate with mean() function instead of sum().

In [ ]:
by_sales_mean = clean_data.groupby('Country').mean().sales.sort_values(ascending = False).index[0:5] 

print("Top five countries in terms of mean sales are:")
print(*by_sales_mean, sep= ', ')

##### 9. Report the top 5 products which bring the highest sales. Use StockCode for product information. (1 point)

- STEPS:
1. Use is_unique attribute on the Series clean_data.StockCode to check if the column has unique values. It turns out to be False. So we have to group clean_data by StockCode first. 
2. Group clean_data by 'StockCode' using groupby method. And aggregate the resulting group with sum().
3. Extract 'sales' column by using dot operator over the aggregate. Now we will have a Series.
4. Sort the Series by value using sort_values() object. Make ascending attribute as False to sort in descending order.
5. Apply index operator to the sorted Series to extract first five index elements, which are Stock codes for top 4 products bringing in highest sales.

In [ ]:
top_5_products = clean_data.groupby('StockCode').sum().sales.sort_values(ascending = False).index[0:5] #Step 2,3,4,5

print("Top five products bringing the highest sales have the StockCodes as:")
print(*top_5_products, sep= ', ')

##### NOTE:
I tried fetching 'Description' values of corresponding 'StockCode' values. They are 'WHITE HANGING HEART T-LIGHT HOLDER', 'PICNIC BASKET WICKER SMALL','REGENCY CAKESTAND 3 TIER', 'PARTY BUNTING' 'MEDIUM CERAMIC TOP STORAGE JAR', 'PICNIC BASKET WICKER 60 PIECES'.

I used the following code:
import numpy as np
top_5_p = clean_data.iloc[np.where(clean_data.StockCode.isin(top_5_products))].Description.unique()
top_5_p

Clearly on of the StockCode values relates to two Description values, most probably 'PICNIC BASKET WICKER SMALL' and 'PICNIC BASKET WICKER 60 PIECES'. So, I left the result to mentioning StockCodes.

##### 10. Convert the ‘InvoiceDate’ into a date format and report the month on which the maximum sales occur? (2 points)

###### Convert the ‘InvoiceDate’ into a date format
- STEPS:
1. Use to_datetime() method over the 'InvoiceDate' column of clean_dataset

In [ ]:
clean_data['InvoiceDate'] = pd.to_datetime(clean_data['InvoiceDate'])
print(f"The object type of column 'InvoiceDate' now convert into date format i.e. {clean_data['InvoiceDate'].dtypes}")

##### report the month on which the maximum sales occur
STEPS:
1. Create a new column 'month' from 'InvoiceDate' using DatetimeIndex.strftime() method.
    - DatetimeIndex.strftime() gives out an Index of string values of a format supplied to it.
    - Put in %B as parameter to force out full month name. 
2. Group the dataset by 'month' and Aggregate with sum() and save the dataframe in month_max.
3. Extract 'sales' from month_max using dot operator. Now it becomes a Pandas Series.
4. Sort the values in the Series of (months,sales). In descending order because we need the month with maximum sales.
5. Use Index operator on the ordered Series to get the first value- which is what we were after.

In [ ]:
clean_data['month'] = pd.DatetimeIndex(clean_data['InvoiceDate']).strftime("%B") #Step 1

month_max = clean_data.groupby('month').sum().sales.sort_values(ascending = False).index[0] #Steps 2,3,4,5

print(f"The month on which maximum sales occur is {month_max}")